#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <300>;
    flavor = "balanced";
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_studio_unlock {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&studio_unlock>;
        };
    };
};

/ {
    macros {
        AGR: AGR {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp A>;
            label = "AGR";
        };

        EAC: EAC {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_SHIFT &kp SQT>,
                <&macro_release>,
                <&kp SINGLE_QUOTE &kp LSHFT>,
                <&macro_tap>,
                <&kp E>;

            label = "EAC";
        };

        EGR: EGR {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp E>;
            label = "EGR";
        };

        ECA: ECA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp CARET &kp E>;
            label = "ECA";
        };

        ETR: ETR {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DQT &kp E>;
            label = "ETR";
        };

        UGR: UGR {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp U>;
            label = "UGR";
        };

        OCA: OCA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp CARET &kp O>;
            label = "OCA";
        };

        ICA: ICA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp CARET &kp I>;
            label = "ICA";
        };

        ITR: ITR {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DQT &kp I>;
            label = "ITR";
        };

        QUO: QUO {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp SPACE>;
            label = "QUO";
        };

        CAR: CAR {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp CARET &kp SPACE>;
            label = "CAR";
        };

        GRA: GRA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp SPACE>;
            label = "GRA";
        };

        CCE: CCE {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp C>;
            label = "CCE";
        };

        UCA: UCA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp CARET &kp U>;
            label = "UCA";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "base";
            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_DN C_VOL_UP>;
            bindings = <
&kp ESCAPE  &kp Q  &kp D  &kp R  &kp W  &mt LC(B) B  &kp J  &kp F  &kp U  &kp P  &kp BACKSPACE  &kp DELETE  &kp TAB  &kp A  &kp S  &mt LEFT_SHIFT H  &mt LEFT_CONTROL T  &kp G  &kp Y  &mt LCTRL N  &mt RIGHT_SHIFT E  &kp O  &kp I  &none  &none  &kp Z  &kp X  &kp M  &kp C  &kp V  &none  &kp C_MUTE  &kp K  &kp L  &kp COMMA  &kp COLON  &kp EQUAL  &none  &lt 2 SINGLE_QUOTE  &lt 3 SPACE  &mt LEFT_CONTROL LS(MINUS)  &mt LEFT_SHIFT PERIOD  &lt 1 DOT  &lt 1 ENTER
            >;
        };

        layer1 {
            display-name = "layer1";
            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_DN C_VOL_UP>;
            bindings = <
&none  &kp AT_SIGN  &kp RA(NUMBER_5)  &none  &none  &none  &kp SINGLE_QUOTE  &kp PERCENT  &UGR  &UCA  &none  &none  &none  &AGR  &kp DOLLAR  &kp HASH  &none  &none  &kp CARET  &kp TILDE  &EAC  &OCA  &ICA  &none  &none  &kp AMPERSAND  &none  &none  &CCE  &none  &none  &none  &kp GRAVE  &ECA  &EGR  &ETR  &ITR  &none  &none  &none  &none  &none  &none  &none
            >;
        };

        layer2 {
            display-name = "layer2";
            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_DN C_VOL_UP>;
            bindings = <
&none  &none  &kp N7  &kp N8  &kp N9  &kp SLASH  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none  &none  &kp BACKSPACE  &none  &none  &none  &kp NUMBER_4  &kp N5  &kp NUMBER_6  &kp ASTERISK  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp SLASH  &kp PIPE  &kp NON_US_BACKSLASH  &none  &none  &kp N0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp MINUS  &none  &none  &kp LEFT_BRACE  &kp RIGHT_BRACE  &none  &none  &none  &none  &none  &kp PLUS  &none  &kp RET  &kp LESS_THAN  &kp GREATER_THAN
            >;
        };

        layer3 {
            display-name = "layer3";
            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_DN C_VOL_UP>;
            bindings = <
&none  &kp ESCAPE  &kp HOME  &kp UP_ARROW  &kp END  &none  &none  &kp RIGHT_PARENTHESIS  &none  &none  &kp BACKSPACE  &to 5  &none  &kp TAB  &kp LEFT_ARROW  &kp DOWN  &kp RIGHT  &none  &none  &kp LCTRL  &kp LEFT_SHIFT  &none  &none  &none  &none  &kp LEFT_GUI  &kp LC(LEFT_ARROW)  &none  &kp LC(RIGHT)  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &trans  &trans  &none  &none  &none
            >;
        };

        layer4 {
            display-name = "layer4";
            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_DN C_VOL_UP>;
            bindings = <
&none  &kp Q  &kp D  &kp R  &kp W  &kp B  &kp J  &kp F  &kp U  &kp P  &none  &to 0  &none  &kp A  &kp S  &kp H  &kp T  &kp G  &kp Y  &kp N  &kp E  &kp O  &kp I  &none  &kp LCTRL  &kp Z  &kp X  &kp M  &kp C  &kp V  &none  &kp C_MUTE  &kp K  &kp L  &kp COMMA  &kp COLON  &kp EQUAL  &none  &kp LEFT_ALT  &kp LEFT_SHIFT  &kp SPACE  &kp PERIOD  &kp ENTER  &kp RIGHT_SHIFT
            >;
        };

        layer5 {
            display-name = "layer5";
            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_DN C_VOL_UP>;
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
            >;
        };
    };
};
